@model ChessMaker.Models.DirectionGroupsModel

@{
    ViewBag.Title = "'" + Model.VariantName + "' direction groups";
    ViewBag.MinimalLayout = true;
}

<div id="main">
    
</div>

<div id="sidebar">
    <div id="absDirs" class="section ui-widget ui-corner-all">
        <h3>Direction Groups</h3>

        <ul id="dirList"></ul>

        <a id="lnkAddToGroup" href="#" class="disabled">Add to group</a><br/>
        <a id="lnkRemoveFromGroup" href="#" class="disabled">Remove from group</a>
    </div>

    <div id="relDirs" class="section ui-widget ui-corner-all">
        <span id="addGroup" class="button">Add group</span>
        <span id="renameGroup" class="button">Rename group</span>
        <span id="deleteGroup" class="button">Delete group</span>
    </div>
</div>

<div id="new" class="popup" title="New group">
    <label for="txtNew">Name</label>
    <input type="text" id="txtNew" class="text ui-widget-content" />
</div>

<div id="rename" class="popup" title="Rename group">
    <label for="txtRename">Name</label>
    <input type="text" id="txtRename" class="text ui-widget-content" />
</div>

@Html.Hidden("allDirs", Model.AllDirs, new { id = "allDirs" })

@using (Html.BeginForm("Groups", "Designer", FormMethod.Post, new { id = "groupForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.Hidden("groupData", Model.GroupData, new { id = "groupData" })

    <input type="submit" name="next" id="submitPrev" value="prev" />
    <input type="submit" name="next" id="submitCurrent" value="this" />
    <input type="submit" name="next" id="submitNext" value="next" />
    <input type="submit" name="next" id="submitDone" value="done" />
}

@section actions {
    @if (Model.PrevPage != null)
    {
        <button onclick="$('#submitPrev').click();" title="@Model.PrevPageTooltip">&lt; @Model.PrevPage</button>
    }
    <button onclick="$('#submitCurrent').click();" title="save your changes, staying on the current page" class="current">@Model.ThisPage</button>
    @if (Model.NextPage != null)
    {
        <button onclick="$('#submitNext').click();" title="@Model.NextPageTooltip">@Model.NextPage &gt;</button>
    }
    <button onclick="location.reload();" id="btnReset" title="reload the current page, resetting your changes">Reset</button>
    <button onclick="$('#submitDone').click();" title="save changes and exit variant designer">Close</button>
}

@section css {
    @Styles.Render("~/Content/Designer/Base.css", "~/Content/Designer/Groups.css")
    @Styles.Render("~/Content/Theme.css");
}

@section scripts {
    @Scripts.Render("~/Scripts/Game/Base.js", "~/Scripts/Designer/Groups.js")
}