@model ChessMaker.Models.BoardLinksModel

@{
    ViewBag.Title = "'" + Model.VariantName + "' cell links & directions";
    ViewBag.MinimalLayout = true;
}

<div id="board">
    @Html.Raw(Model.SvgData)
</div>

<div id="sidebar">
    <div id="absDirs" class="section ui-widget ui-corner-all">
        <h3>Global Directions</h3>
        
        <ul id="absDirList"></ul>

        <a id="lnkNew" href="#">Add New</a>
        <a id="lnkRename" href="#" class="disabled">Rename</a>
        <a id="lnkDelete" href="#" class="disabled">Delete</a>
        <a id="lnkMerge" href="#" class="disabled">Merge with...</a>
    </div>

    <div id="relDirs" class="section ui-widget ui-corner-all">
        With a direction selected, click the cells to add links in the selected direction.
    </div>
</div>

<div id="rename" class="popup" title="Rename direction">
    <label for="txtRename">New name</label>
    <input type="text" id="txtRename" class="text ui-widget-content" />
</div>

<div id="merge" class="popup" title="Merge direction">
    <label for="ddlMerge">Direction to merge into</label>
    <select id="ddlMerge" class="text ui-widget-content"></select>
</div>

<div id="new" class="popup" title="New direction">
    <label for="txtNewName">Name</label>
    <input type="text" id="txtNewName" class="text ui-widget-content" />
</div>

@using (Html.BeginForm("Links", "Designer", FormMethod.Post, new { id = "linksForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.Hidden("linkData", Model.LinkData, new { id = "linkData" })

    <input type="submit" name="next" id="submitPrev" value="prev" />
    <input type="submit" name="next" id="submitCurrent" value="this" />
    <input type="submit" name="next" id="submitNext" value="next" />
    <input type="submit" name="next" id="submitDone" value="done" />
}

@section actions {
    @if (Model.PrevPage != null)
    {
        <button onclick="$('#submitPrev').click();" title="@Model.PrevPageTooltip">&lt; @Model.PrevPage</button>
    }
    <button onclick="$('#submitCurrent').click();" title="save your changes, staying on the current page" class="current">@Model.ThisPage</button>
    @if (Model.NextPage != null)
    {
        <button onclick="$('#submitNext').click();" title="@Model.NextPageTooltip">@Model.NextPage &gt;</button>
    }
    <button onclick="location.reload();" id="btnReset" title="reload the current page, resetting your changes">Reset</button>
    <button onclick="$('#submitDone').click();" title="save changes and exit variant designer">Close</button>
}

@section css {
    @Styles.Render("~/Content/themes/base/css", "~/Content/designer/base.css", "~/Content/designer/links.css")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui", "~/Scripts/designer/base.js", "~/Scripts/designer/links.js")
}