@model ChessMaker.Models.BoardLinksModel

@{
    ViewBag.Title = "'" + Model.VariantName + "' cell links & directions";
    ViewBag.MinimalLayout = true;
}

<div id="board">
    @Html.Raw(Model.SvgData)
</div>

<div id="sidebar">
    <div id="absDirs" class="section ui-widget ui-corner-all">
        <h3>Absolute Directions</h3>
        
        <ul id="absDirList"></ul>

        <a id="lnkNew" href="#">Add New</a>
        <a id="lnkRename" href="#" class="disabled">Rename</a>
        <a id="lnkDelete" href="#" class="disabled">Delete</a>
        <a id="lnkMerge" href="#" class="disabled">Merge with...</a>
    </div>

    <div id="relDirs" class="section ui-widget ui-corner-all">
        <h3>Relative directions</h3>

        Not sure how we handle these.
    </div>

    <div id="dirGroups" class="section ui-widget ui-corner-all">
        <h3>Direction groups</h3>

        Not sure how we handle these.
    </div>
</div>

<div id="rename" class="popup" title="Rename direction">
    <label for="txtRename">New name</label>
    <input type="text" id="txtRename" class="text ui-widget-content" />
</div>

<div id="merge" class="popup" title="Merge direction">
    <label for="ddlMerge">Direction to merge into</label>
    <select id="ddlMerge" class="text ui-widget-content"></select>
</div>

<div id="new" class="popup" title="New direction">
    <label for="txtNewName">Name</label>
    <input type="text" id="txtNewName" class="text ui-widget-content" />
</div>

@using (Html.BeginForm("Links", "Designer", FormMethod.Post, new { id = "linksForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.Hidden("linkData", Model.LinkData, new { id = "linkData" })

    <input type="submit" name="next" id="submitShape" value="Shape" />
    <input type="submit" name="next" id="submitLinks" value="Links" />
    <input type="submit" name="next" id="submitPieces" value="Pieces" />
    <input type="submit" name="next" id="submitLayout" value="Layout" />
    <input type="submit" name="next" id="submitRules" value="Rules" />
    <input type="submit" name="next" id="submitDone" value="Done" />
}

@section actions {
    <button onclick="$('#submitShape').click();" title="board shape">Shape</button>
    <button onclick="$('#submitLinks').click();" title="links between cells" class="current">Links</button>
    <button onclick="$('#submitPieces').click();" title="piece definitions">Pieces</button>
    <button onclick="$('#submitLayout').click();" title="starting piece layout">Layout</button>
    <button onclick="$('#submitRules').click();" title="game rules">Rules</button>
    <button onclick="$('#submitDone').click();" title="save changes and exit variant designer">Done</button>
}

@section css {
    @Styles.Render("~/Content/themes/base/css", "~/Content/designer/base.css", "~/Content/designer/links.css")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui", "~/Scripts/designer/base.js", "~/Scripts/designer/links.js")
}