@model ChessMaker.Models.RelativeDirectionsModel

@{
    ViewBag.Title = "'" + Model.VariantName + "' cell links & directions";
    ViewBag.MinimalLayout = true;
}

<div id="main">
    
</div>

<div id="sidebar">
    <div class="section ui-widget ui-corner-all">
        <h3>Relative Directions</h3>
        
        Blah blah blah

        @Html.Raw(Model.GlobalDirectionsDiagram)

        <span id="addDir" class="button">Add new</span>
        <span id="renameDir" class="button">Rename</span>
        <span id="deleteDir" class="button">Delete</span>
    </div>
</div>

<div id="new" class="popup" title="New direction">
    <label for="txtNew">Name</label>
    <input type="text" id="txtNew" class="text ui-widget-content" />
</div>

<div id="rename" class="popup" title="Rename direction">
    <label for="txtRename">Name</label>
    <input type="text" id="txtRename" class="text ui-widget-content" />
</div>

@using (Html.BeginForm("Relative", "Designer", FormMethod.Post, new { id = "relForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.Hidden("relData", Model.RelativeDirections, new { id = "relData" })

    <input type="submit" name="next" id="submitPrev" value="prev" />
    <input type="submit" name="next" id="submitCurrent" value="this" />
    <input type="submit" name="next" id="submitNext" value="next" />
    <input type="submit" name="next" id="submitDone" value="done" />
}

@section actions {
    @if (Model.PrevPage != null)
    {
        <button onclick="$('#submitPrev').click();" title="@Model.PrevPageTooltip">&lt; @Model.PrevPage</button>
    }
    <button onclick="$('#submitCurrent').click();" title="save your changes, staying on the current page" class="current">@Model.ThisPage</button>
    @if (Model.NextPage != null)
    {
        <button onclick="$('#submitNext').click();" title="@Model.NextPageTooltip">@Model.NextPage &gt;</button>
    }
    <button onclick="location.reload();" id="btnReset" title="reload the current page, resetting your changes">Reset</button>
    <button onclick="$('#submitDone').click();" title="save changes and exit variant designer">Close</button>
}

@section css {
    @Styles.Render("~/Content/Designer/Base.css", "~/Content/Designer/Relative.css")
    @Styles.Render("~/Users/Theme")
}

@section scripts {
    @Scripts.Render("~/Scripts/Game/Base.js", "~/Scripts/Designer/Relative.js")
}