@{
    bool minimalLayout = @ViewBag.MinimalLayout != null && @ViewBag.MinimalLayout;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="msapplication-tap-highlight" content="no">
        <title>@ViewBag.Title - Chessmaker</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("css", required: false)
    </head>
    <body>
        <header class="app-bar">
            <button class="menu"><img src="@Url.Content("~/Images/hamburger.png")" /></button>
            
            <h1 class="logo">@Html.ActionLink("Chessmaker", "Index", "Home")</h1>

            @if (IsSectionDefined("actions")) {
            <section class="actions">
                    @RenderSection("actions")
                </section>
            }
    
            <div class="navdrawer">
                @Html.Partial("_MenuPartial")
            </div>
        </header>
        
        <section class="main-content content">
            @if (!minimalLayout && !string.IsNullOrEmpty(@ViewBag.Title))
            {
                <hgroup class="title">
                    <h2>@ViewBag.Title</h2>
                    
                    @if (!string.IsNullOrEmpty(@ViewBag.Message))
                    {
                        <h3>@ViewBag.Message</h3>
                    }
                </hgroup>
            }
            @if (IsSectionDefined("aside"))
            {
                <article>
                    @RenderBody()
                </article>
                <aside>
                    @RenderSection("aside")
                </aside>
            }
            else
            {
                @RenderBody()
            }
        </section>

        @if (!minimalLayout)
        {
            <footer class="content">
                <p>&copy; @DateTime.Now.Year - Chessmaker</p>
            </footer>
        }
        @RenderSection("scripts", required: false)
    </body>
</html>
