@{
    bool minimalLayout = @ViewBag.MinimalLayout != null && @ViewBag.MinimalLayout;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Chessmaker</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="@(minimalLayout ? "compact" : "")">
        @Html.Partial("_MenuPartial")

        <div id="body">
            @if (IsSectionDefined("featured"))
            {
                <section class="featured">
                    <div class="content-wrapper">
                        <hgroup class="title">
                            <h1>@ViewBag.Title.</h1>
                            <h2>@ViewBag.Message</h2>
                        </hgroup>

                        @RenderSection("featured")
                    </div>
                </section>
            }

            <section class="content-wrapper main-content clear-fix">
                @if (!IsSectionDefined("featured"))
                {
                    if (!minimalLayout && !string.IsNullOrEmpty(@ViewBag.Title))
                    {
                        <hgroup class="title">
                            <h1>@ViewBag.Title</h1>
                    
                            @if (!string.IsNullOrEmpty(@ViewBag.Message))
                            {
                                <h2>@ViewBag.Message</h2>
                            }
                        </hgroup>
                    }
                }
                @if (IsSectionDefined("aside"))
                {
                    <article>
                        @RenderBody()
                    </article>
                    <aside>
                        @RenderSection("aside")
                    </aside>
                }
                else
                {
                    @RenderBody()
                }
            </section>
        </div>
        @if (!minimalLayout)
        {
            <footer>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year - Chessmaker</p>
                    </div>
                </div>
            </footer>
        }
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
