<ul>

@if (!Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    <li>@Html.ActionLink("Register", "Register", "Account")</li>
}

    <li>@Html.ActionLink("Play", "New", "Game")</li>

@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Design", "Variants", "Users", new { id = User.Identity.Name }, null)</li>
}

    <li>@Html.ActionLink("Variants", "", "Variants")</li>
    <li>@Html.ActionLink("Users", "", "Users")</li>

@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Account", "Profile", "Users", new { id = User.Identity.Name }, new { title = "Logged in as " + User.Identity.Name })</li>
                            
    <li>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
    </li>
}
</ul>