<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">@Html.ActionLink("Chessmaker", "Index", "Home")</p>
        </div>
        <div id="menu-toggle">Menu</div>
        <div class="float-right">
            <nav>
                <ul id="menu">
@if (Request.IsAuthenticated)
{
                    <li>@Html.ActionLink("Find game", "Find", "Game")</li>
                    <li>@Html.ActionLink("Host game", "Host", "Game")</li>
}
else
{
                    <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
}
                    <li>@Html.ActionLink("Local game", "Offline", "Game")</li>
                    <li>@Html.ActionLink("Play AI", "AI", "Game")</li>
                    <li>@Html.ActionLink("Variants", "", "Variants")</li>
                    <li>@Html.ActionLink("Users", "", "Users")</li>
@if (Request.IsAuthenticated)
{
                    <li>@Html.ActionLink(User.Identity.Name, "Profile", "Users", new { id = User.Identity.Name }, null)</li>
                            
                    <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log&nbsp;off</a>
                    }
                    </li>
}
                </ul>
            </nav>
        </div>
    </div>
</header>