@model ChessMaker.Models.VariantEditModel

@{
    ViewBag.Title = "Variant";
    var isNew = ViewContext.RouteData.Values["action"].ToString() == "New";
    var submitText = isNew ? "Create" : "Update";
    var submitRoute = isNew ? null : new { id = ViewData.Model.VariantID.Value };
    var submitAction = isNew ? "New" : "Edit";

    var numPlayerAttributes = isNew ? null : new { @disabled = "disabled" };
}

<h2>Variant</h2>

@using (Html.BeginForm(@submitAction, "Variants", submitRoute, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <fieldset>
        <legend>Basic information form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)

                @Html.LabelFor(m => m.NumPlayers)
                @Html.TextBoxFor(m => m.NumPlayers, numPlayerAttributes)
            </li>
        </ol>
        <input type="submit" value="@submitText" />
    </fieldset>
}

@if (!isNew)
{
    @:<table>
        <tr>
            <th>Version</th>
            <th>Public</th>
            <th></th>
        </tr>

    foreach (var version in Model.Versions)
    {
        <tr>
            <td>
                @Html.ActionLink(version.Name, "CopyVersion", new { id = version.VersionID }, new { title = "Click to create & edit a copy of this version" })
            </td>
            <td>
                @Html.ActionLink(version.IsPublic ? "Yes" : "No", version.IsPublic ? "MakePrivate" : "MakePublic", new { id = version.VersionID }, new { title = version.IsPublic ? "Stop this version from being public" : "Make this version public" })
            </td>
            <td>
                @if (version.CanDelete)
                {
                    @Html.ActionLink("delete", "DeleteVersion", new { id = version.VersionID }, new { title = "Click to permanently delete this version" })
                }
            </td>
        </tr>
    }
    @:</table>
}