@model IEnumerable<ChessMaker.Models.VariantListModel>

@{
    ViewBag.Title = "Variants";
}

This page ought to list popular variants or something.
@if(Request.IsAuthenticated)
{
    @:Also a link to the @Html.ActionLink("My Variants", "Variants", "Users", new { id = User.Identity.Name }, null) page, and a link to @Html.ActionLink("create a new one", "New", "Variants").
}
else
{
    @:To create variants of your own, you will first need to @Html.ActionLink("log in", "Login", "Account").
}

<table>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
@foreach (var variant in Model)
{
    <tr>
        <td>
            @variant.Name
        </td>
        <td>
            @(variant.IsPublic ? "Public" : "Private")
        </td>
    </tr>
}
</table>
