@model ChessMaker.Models.VariantOverviewModel

@{
    ViewBag.Title = "Variant Overview";
    var isNew = ViewContext.RouteData.Values["action"].ToString() == "New";
    var submitText = isNew ? "Create" : "Update";
    var submitRoute = isNew ? null : new { id = ViewData.Model.VariantID.Value };
    var submitAction = isNew ? "New" : "Update";

    var numPlayerAttributes = isNew ? null : new { @disabled = "disabled" };
}

<h2>Variant Overview</h2>

@using (Html.BeginForm(@submitAction, "Variants", submitRoute, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <fieldset>
        <legend>Basic information form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)

                @Html.LabelFor(m => m.NumPlayers)
                @Html.TextBoxFor(m => m.NumPlayers, numPlayerAttributes)
            </li>
        </ol>
        <input type="submit" value="@submitText" />
    </fieldset>
}