@model ChessMaker.Models.User

@{
    ViewBag.Title = "User: " + Model.Name;
    ViewBag.Message = "A lovely user";
    var isCurrentUser = User.Identity.Name == Model.Name;
}

<p>
    To view variants created by this user, @Html.ActionLink("click here", "Variants", new { id = Model.Name }).
</p>

@if (isCurrentUser)
{
    <p>
        To change your password, @Html.ActionLink("click here", "Manage", "Account", null, null).
    </p>
}
<p>
    Use this area to provide additional information.
</p>

@section aside {
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
}